img {
    width: 800px;
    height: 600px;
}

.slider {
    display: block;
    align-self: center;
    margin: 20px;
    height: 600px;
    width: 1000px;
    background: #ffffff;
}
.prevpict {
    float: left;
    display: inline-block;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 600px;
    width: 100px;
    background: #7fffd4;
    font-size: x-large;
    text-align: center;
}
.nextpict {
    float: right;
    display: inline-block;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 600px;
    width: 100px;
    background: #7fffd4;
    font-size: x-large;
    text-align: center;
}
.image {
    display: inline-block;
    height: 600px;
    width: 800px;
}

#mainpict {
    display: inline-block;
    float: left;
}
.hidden {
    visibility: hidden;

}